<form [formGroup]="profileForm">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="form-group">
        <label for="name">Description One</label>
        <textarea class="form-control form-control-sm" name="descriptionOne"
          formControlName="descriptionOne"></textarea>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="form-group">
        <label for="name">Description Two</label>
        <textarea class="form-control form-control-sm" name="descriptionTwo"
          formControlName="descriptionTwo"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label for="name">Description Three</label>
          <textarea class="form-control form-control-sm" name="descriptionThree"
            formControlName="descriptionThree"></textarea>
        </div>
      </div>
  
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label for="name">Description Four</label>
          <textarea class="form-control form-control-sm" name="descriptionFour"
            formControlName="descriptionFour"></textarea>
        </div>
      </div>
    </div>

</form>